/* style.css */
body {
   font-family: Arial, sans-serif;
   margin: 20px;
   background-color: #f4f4f4;
}

.container {
   background-color: #fff;
   padding: 30px;
   border-radius: 8px;
   max-width: 600px;
   margin: auto;
}

h1 {
   text-align: center;
   color: #000000;
   font-size: 2em;
   margin-bottom: 8px;
   font-weight: bold;
}

p.description {
   text-align: center;
   color: #666;
   margin-bottom: 5px;
}

label {
   display: block;
   margin-bottom: 8px;
   font-weight: bold;
   color: #000000;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
   width: calc(100% - 22px);
   padding: 10px;
   margin-bottom: 15px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
}

input[type="radio"] {
   margin-right: 5px;
}

.radio-group label {
   display: inline-block;
   margin-right: 15px;
   font-weight: normal;
}

input[type="submit"] {
   background-color: Black;
   color: White;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
   font-size: 16px;
   width: 100%;
}

input[type="submit"]:hover {
   background-color: #4caf50;
   color: Black;
}

.field-description {
   font-size: 0.9em;
   color: #888;
   margin-top: -10px;
   margin-bottom: 20px;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

th,
td {
   padding: 10px;
   border: 1px solid #ccc;
   text-align: left;
}

th {
   background-color: #f2f2f2;
}

pre {
   font-family: Arial, sans-serif;
   white-space: pre-wrap;
   word-wrap: break-word;
}